<mat-dialog-content>
  <div class="card bg-white text-dark">
    <div class="card-header">{{info}}</div>
    <div class="card-body">
      <form #conexionform="ngForm">

        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Servidor Instancia</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid':bdservinstancia.errors && (bdservinstancia.dirty ||bdservinstancia.touched)}"
            [(ngModel)]="conexion.bdservinstancia" name="bdservInstancia"
            required maxlength="30" minlength="5" #bdservinstancia="ngModel">
            <div class="invalid-feedback" *ngIf="bdservinstancia.errors && (bdservinstancia.dirty ||bdservinstancia.touched)" >
              <div *ngIf="bdservinstancia.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="bdservinstancia.errors.minlength">
                Debe ser mayor de 5 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Nombre de la conexion</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid':bdnombre.errors && (bdnombre.dirty ||bdnombre.touched)}"
            [(ngModel)]="conexion.bdnombre" name="bdnombre"
            required maxlength="30" minlength="5" #bdnombre="ngModel">
            <div class="invalid-feedback" *ngIf="bdnombre.errors && (bdnombre.dirty ||bdnombre.touched)" >
              <div *ngIf="bdnombre.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="bdnombre.errors.minlength">
                Debe ser mayor de 5 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Tipo</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':bdtipo.errors && (bdtipo.dirty ||bdtipo.touched)}"
            [(ngModel)]="conexion.bdtipo" name="bdtipo"
            required maxlength="30" minlength="5" #bdtipo="ngModel">
            <div class="invalid-feedback" *ngIf="bdtipo.errors && (bdtipo.dirty ||bdtipo.touched)" >
              <div *ngIf="bdtipo.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="bdtipo.errors.minlength">
                Debe ser mayor de 5 caracteres
              </div>
            </div>
          </div>
        </div>
          <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Usuario</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':bdusuario.errors && (bdusuario.dirty ||bdusuario.touched)}"
            [(ngModel)]="conexion.bdusuario" name="bdusuario"
            required maxlength="20" minlength="4" #bdusuario="ngModel">
            <div class="invalid-feedback" *ngIf="bdusuario.errors && (bdusuario.dirty ||bdusuario.touched)" >
              <div *ngIf="bdusuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="bdusuario.errors.minlength">
                Debe ser mayor de 4 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Contraseña</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':bdcontra.errors && (bdcontra.dirty ||bdcontra.touched)}"
            [(ngModel)]="conexion.bdcontra" name="bdcontra"
            required maxlength="20" minlength="1" #bdcontra="ngModel">
            <div class="invalid-feedback" *ngIf="bdcontra.errors && (bdcontra.dirty ||bdcontra.touched)" >
              <div *ngIf="bdcontra.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="bdcontra.errors.minlength">
                Debe ser mayor de 1 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">TOM CAT puerto</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':tomcatpuerto.errors && (tomcatpuerto.dirty ||tomcatpuerto.touched)}"
            [(ngModel)]="conexion.tomcatpuerto" name="tomcatpuerto"
            required maxlength="4" minlength="4" #tomcatpuerto="ngModel">
            <div class="invalid-feedback" *ngIf="tomcatpuerto.errors && (tomcatpuerto.dirty ||tomcatpuerto.touched)" >
              <div *ngIf="tomcatpuerto.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="tomcatpuerto.errors.minlength">
                Debe ser mayor de 4 digitos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">TOM CAT usuario</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':tomcatusuario.errors && (tomcatusuario.dirty ||tomcatusuario.touched)}"
            [(ngModel)]="conexion.tomcatusuario" name="tomcatusuario"
            required maxlength="20" minlength="5" #tomcatusuario="ngModel">
            <div class="invalid-feedback" *ngIf="tomcatusuario.errors && (tomcatusuario.dirty ||tomcatusuario.touched)" >
              <div *ngIf="tomcatusuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="tomcatusuario.errors.minlength">
                Debe ser mayor de 5 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">TOM CAT Contraseña</label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':tomcatcontra.errors && (tomcatcontra.dirty ||tomcatcontra.touched)}"
            [(ngModel)]="conexion.tomcatcontra" name="tomcatcontra"
            required maxlength="20" minlength="1" #tomcatcontra="ngModel">
            <div class="invalid-feedback" *ngIf="tomcatcontra.errors && (tomcatcontra.dirty ||tomcatcontra.touched)" >
              <div *ngIf="tomcatcontra.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="tomcatcontra.errors.minlength">
                Debe ser mayor de 1 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2"> Web Url </label>
          <div class="col-sm-6">
            <input type="int" class="form-control"
            [ngClass]="{'is-invalid':weburl.errors && (weburl.dirty ||weburl.touched)}"
            [(ngModel)]="conexion.weburl" name="weburl"
            required maxlength="20" minlength="5" #weburl="ngModel">
            <div class="invalid-feedback" *ngIf="weburl.errors && (weburl.dirty ||weburl.touched)" >
              <div *ngIf="weburl.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="weburl.errors.minlength">
                Debe ser mayor de 5 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Nombre de Empresa</label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example"
            [ngClass]="{'is-invalid':codEmpresa.errors && (codEmpresa.dirty ||codEmpresa.touched)}"
            [(ngModel)]="conexion.codempresa"
             name="codsistema" required  #codEmpresa="ngModel" disabled>
             <option value="">Selecciona una opción</option>
              <option *ngFor = "let empresa of empresas"  [value]="empresa.id">  {{ empresa.nomempresa }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="codEmpresa.errors && (codEmpresa.dirty ||codEmpresa.touched)" >
              <div *ngIf="codEmpresa.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
          <div  style="float: right; width: 20%; " >
            <button type="button" role="button" class="btn btn-primary active" aria-pressed="true" (click)="AbrirPopUp(BUSCADOR)">
              <i class="fas fa-search"></i>
               </button>
          </div>


        </div>
      </form>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="form-group row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-secondary btn-lg" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-lg active" style="margin-left: 10px;" aria-pressed="true"
       (click)="crearModificarConexion()" role="button"
        [disabled]="!conexionform.form.valid">{{infoBoton}}</button>
    </div>

  </div>
</mat-dialog-actions>

<ng-template #BUSCADOR>
  <mat-dialog-content>
    <div class ="container" >
        <div class = "card" >
          <h3 class="text-center">Escoja una empresa</h3>
            <div class = "card-body">
              <div class="form-group row">
                <div>
                  <button style="float: left;" type="button" role="button" class="btn btn-primary" (click)="resetear()">
                    Restear listado
                </button>
                  <div class="input-group" style="display: flex;
                  align-items: center;
                  justify-content: center;"  >
                  <div style="width:100px;">
                    <select  class="form-select" [(ngModel)]="opcion">
                      <option value="ruc"> RUC</option>
                      <option value="razonsocial"> Razon Social</option>
                    </select>
                  </div>

                    <div class="form-outline">
                      <input id="search-focus" type="text" [(ngModel)]="buscador" placeholder="Buscar" class="form-control" name="buscador" />
                    </div>
                    <button type="button" role="button" class="btn btn-primary" (click)="Buscar()">
                      <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              </div>
                <table style="display: inline-block; align-items: center;" class="table table-striped">
                    <thead style="text-align: center; ">
                        <th> Codigo de empresa </th>
                        <th> Razon social </th>
                        <th> RUC </th>
                        <th> Seleccionar</th>
                    </thead>
                    <tbody style="text-align: center; ">
                        <tr *ngFor = "let empresa of empresas">
                            <td> {{ empresa.id}}</td>
                            <td> {{ empresa.razonsocial}}</td>
                            <td>{{ empresa.codigoruc }}</td>
                            <td>
                              <button type="button"  name="button" (click)="seleccionar(empresa)" class="btn btn-primary">Seleccionar</button>
                            </td>
                        </tr>
                        <div style="display: flex;
                        align-items: center;
                        justify-content: center;" *ngIf="vacio"> No se encontro coincidencias en su busqueda </div>
                    </tbody>
                </table>
              </div>
              <div style="margin-left: 30px;">
                <app-paginador *ngIf="paginador" [paginador]="paginador" [tipo]="tipo"></app-paginador>
              </div>

        </div>
      </div>

    </mat-dialog-content>

</ng-template>


