<mat-dialog-content>
  <div class="card bg-white text-dark">
    <div class="card-header">{{info}}</div>
    <div class="card-body">
      <form #contratoform="ngForm">
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Nombre de la empresa</label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example"
            [ngClass]="{'is-invalid':codempresa.errors && (codempresa.dirty ||codempresa.touched)}"
            [(ngModel)]="contrato.codempresa"
            name="codempresa" id="codempresa" required #codempresa="ngModel" disabled>
              <option value="">Selecciona una opción</option>
              <option *ngFor = "let empresa of empresas"  [value]="empresa.id">  {{ empresa.razonsocial }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="codempresa.errors && (codempresa.dirty ||codempresa.touched)" >
              <div *ngIf="codempresa.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
          <div  style="float: right; width: 20%; " >
            <button type="button" role="button" class="btn btn-primary active" aria-pressed="true" (click)="AbrirPopUp(popup1)">
              <i class="fas fa-search"></i>
               </button>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Nombre de sistema</label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example"
            [ngClass]="{'is-invalid':codsistema.errors && (codsistema.dirty ||codsistema.touched)}"
            [(ngModel)]="contrato.codsistema"
             name="codsistema" required  #codsistema="ngModel" disabled>
              <option value="">Selecciona una opción</option>
              <option *ngFor = "let sistema of sistemas"  [value]="sistema.id">  {{ sistema.sistema }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="codsistema.errors && (codsistema.dirty ||codsistema.touched)" >
              <div *ngIf="codsistema.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
          <div  style="float: right; width: 20%; " >
            <button type="button" role="button" class="btn btn-primary active" aria-pressed="true" (click)="AbrirPopUp(popup2)">
              <i class="fas fa-search"></i>
               </button>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Nombre de la conexion</label>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example"
            [ngClass]="{'is-invalid':codconexion.errors && (codconexion.dirty ||codconexion.touched)}"
            [(ngModel)]="contrato.codconexion"
            name="codconexion" id="codconexion" required  #codconexion="ngModel" [disabled]="conexionHabilitar==true? true:null" >
              <option value="">Selecciona una opción</option>
              <option *ngFor = "let conexion of conexiones"  [value]="conexion.id">  {{conexion.bdservinstancia}}/{{ conexion.bdnombre }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="codconexion.errors && (codconexion.dirty ||codconexion.touched)" >
              <div *ngIf="codconexion.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">fecha de Incio</label>
          <div class="col-sm-6">
            <input type="date" class="form-control"
            min="2000-01-01" max="2030-12-31"
            [ngClass]="{'is-invalid':fechainicontrato.errors && (fechainicontrato.dirty ||fechainicontrato.touched)}"
            (ngModelChange)="contrato.fechainicontrato = $event"
            [ngModel]="contrato.fechainicontrato| date:'yyyy-MM-dd'" name="fechainicontrato"
            required  #fechainicontrato="ngModel" >
            <div class="invalid-feedback" *ngIf="fechainicontrato.errors && (fechainicontrato.dirty ||fechainicontrato.touched)" >
              <div *ngIf="fechainicontrato.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">fecha de baja</label>
          <div class="col-sm-6">
            <input type="date" class="form-control"
            min="2000-01-01" max="2030-12-31"
            [ngClass]="{'is-invalid':fechafincontrato.errors && (fechafincontrato.dirty ||fechafincontrato.touched)}"
            (ngModelChange)="contrato.fechafincontrato = $event"
            [ngModel]="contrato.fechafincontrato| date:'yyyy-MM-dd'" name="fechafincontrato"
            required  #fechafincontrato="ngModel">
            <div class="invalid-feedback" *ngIf="fechafincontrato.errors && (fechafincontrato.dirty ||fechafincontrato.touched)" >
              <div *ngIf="fechafincontrato.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">TOKEN</label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid':token.errors && (token.dirty ||token.touched)}"
            [(ngModel)]="contrato.token" name="token"
            required minlength="4" maxlength="6" #token="ngModel">
            <div class="invalid-feedback" *ngIf="token.errors && (token.dirty ||token.touched)" >
              <div *ngIf="token.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="token.errors.minlenght">
                Debe ser de 6 digitos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Cantidad de activos</label>
          <div class="col-sm-6">
            <input type="number" class="form-control"
            [ngClass]="{'is-invalid':cantactivos.errors && (cantactivos.dirty ||cantactivos.touched)}"
            [(ngModel)]="contrato.cantactivos" name="cantactivos"
            required minlength="1" maxlength="6" #cantactivos="ngModel">
            <div class="invalid-feedback" *ngIf="cantactivos.errors && (cantactivos.dirty ||cantactivos.touched)" >
              <div *ngIf="token.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="token.errors.minlenght">
                Debe ser de 1 digito
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="id" class="col-form-label col-sm-2">Cantidad de usuarios </label>
          <div class="col-sm-6">
            <input type="number" class="form-control"
            [ngClass]="{'is-invalid':cantusuarios.errors && (cantusuarios.dirty ||cantusuarios.touched)}"
            [(ngModel)]="contrato.cantusuarios" name="cantusuarios"
            required minlength="1" maxlength="6" #cantusuarios="ngModel">
            <div class="invalid-feedback" *ngIf="cantusuarios.errors && (cantusuarios.dirty ||cantusuarios.touched)" >
              <div *ngIf="token.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="token.errors.minlenght">
                Debe ser de 1 digito
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="form-group row">
          <label for="ind_baja" class="col-form-label col-sm-2">Se encuentra activo?</label>
          <div class="col-sm-6">
            <div>
              <input type="radio"  name="estado" [value]=true  [(ngModel)]="contrato.estado" checked>
              <label for="bajaChoice1"> Activo </label>
            </div>
            <div>
              <input type="radio" name="estado" [(ngModel)]="contrato.estado" [value]=false checked >
            <label  for="bajaChoice2"> Inactivo </label>
            </div>

          </div>
        </div>
      -->


      </form>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="form-group row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-light btn-lg" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col-sm-6">
      <button type="button" (click)="crearModificarcontrato()"
      class="btn btn-primary btn-lg active" style="margin-left: 10px;" aria-pressed="true" role="button"
      [disabled]="!contratoform.form.valid">{{infoBoton}}</button>
    </div>

  </div>
</mat-dialog-actions>
<ng-template #popup1>
  <mat-dialog-content>
    <div class ="container" >
        <div class = "card" >
          <h3 class="text-center">Escoja una empresa</h3>
            <div class = "card-body" style="align-items: center;">
              <div class="form-group row">
                <div>
                  <button style="float: left;" type="button" role="button" class="btn btn-primary" (click)="resetear()">
                    Restear listado
                </button>
                  <div class="input-group" style="display: flex;
                  align-items: center;
                  justify-content: center;"  >
                  <div style="width:100px;">
                    <select  class="form-select" [(ngModel)]="opcion">
                      <option value="">Selecciona una opción</option>
                      <option value="ruc"> RUC</option>
                      <option value="razonsocial"> Razon Social</option>
                    </select>
                  </div>

                    <div class="form-outline">
                      <input id="search-focus" type="text" [(ngModel)]="buscador" placeholder="Buscar" class="form-control" name="buscador" />
                    </div>
                    <button type="button" role="button" class="btn btn-primary" (click)="Buscar()">
                      <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              </div>
                <table style="display: inline-block; align-items: center;" class="table table-striped">
                    <thead style="text-align: center; ">
                        <th> Codigo de empresa </th>
                        <th> Razon social </th>
                        <th> RUC </th>
                        <th> Seleccionar</th>
                    </thead>
                    <tbody style="text-align: center; ">
                        <tr *ngFor = "let empresa of empresas">
                            <td> {{ empresa.id}}</td>
                            <td> {{ empresa.razonsocial}}</td>
                            <td>{{ empresa.codigoruc }}</td>
                            <td>
                              <button type="button"  name="button" (click)="seleccionar1(empresa)" class="btn btn-primary">Seleccionar</button>
                            </td>
                        </tr>
                        <div style="display: flex;
                        align-items: center;
                        justify-content: center;" *ngIf="vacio"> No se encontro coincidencias en su busqueda </div>
                    </tbody>
                </table>
              </div>
              <div style="margin-left: 30px;">
                <app-paginador *ngIf="paginador" [paginador]="paginador" [tipo]="tipo"></app-paginador>
              </div>

        </div>
      </div>

    </mat-dialog-content>
</ng-template>
<ng-template #popup2>
  <mat-dialog-content>
    <div class ="container" >
        <div class = "card" >
          <h3 class="text-center">Escoja un Sistema</h3>
            <div class = "card-body">
              <div class="form-group row">
                <div>
                  <!--
                  <div class="input-group" style="display: flex;
                  align-items: center;
                  justify-content: center;"  >

                    <div class="form-outline">
                      <input id="search-focus" type="text" [(ngModel)]="buscador" placeholder="Buscar" class="form-control" name="buscador" />
                    </div>
                    <button type="button" role="button" class="btn btn-primary" (click)="Buscar()">
                      <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>-->
              </div>
                <table style="display: inline-block; align-items: center;" class="table table-striped">
                    <thead style="text-align: center; ">
                        <th> Codigo de sistema </th>
                        <th> Nombre del sistema </th>
                        <th> Version </th>
                        <th> Seleccionar</th>
                    </thead>
                    <tbody style="text-align: center; ">
                        <tr *ngFor = "let sistema of sistemas">
                            <td> {{ sistema.id}}</td>
                            <td> {{ sistema.sistema}}</td>
                            <td>{{ sistema.numversion }}</td>
                            <td>
                              <button type="button"  name="button" (click)="seleccionar2(sistema)" class="btn btn-primary">Seleccionar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
              </div>
              <div style="margin-left: 30px;">
                <app-paginador *ngIf="paginador" [paginador]="paginador" [tipo]="tipo"></app-paginador>
              </div>

        </div>
      </div>
      </div>

    </mat-dialog-content>

</ng-template>


