<div class ="container" style="display: inline-block;">
  <div class = "card" style="display: inline-block;">

      <h3 class="text-center"> Listado de conexion</h3>
      <div class = "card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="AbrirPopUp()" role="button">{{info}}</button>
          </div>
        </div>
          <table class="table table-striped">
              <thead style="text-align: center; ">
                  <th> ID </th>
                  <th> BD Instancia </th>
                  <th> BD Nombre </th>
                  <th> BD Tipo </th>
                  <th> BD Usuario </th>
                  <th> BD Contraseña </th>
                  <th> Puerto </th>
                  <th> TOMCAT usuario </th>
                  <th> TOMCAT contraseña </th>
                  <th> Web Url </th>
                  <th> Nombre de la empresa Asociada</th>
                  <th> Editar </th>
                  <th> Borrar </th>
              </thead>
              <tbody style="text-align: center; ">
                  <tr *ngFor = "let conexion of conexiones">
                      <td> {{ conexion.id}}</td>
                      <td> {{ conexion.bdservinstancia}}</td>
                      <td> {{ conexion.bdnombre}}</td>
                      <td> {{ conexion.bdtipo}}</td>
                      <td> {{ conexion.bdusuario }}</td>
                      <td> {{ conexion.bdcontra}}</td>
                      <td> {{ conexion.tomcatpuerto}}</td>
                      <td> {{ conexion.tomcatusuario}}</td>
                      <td> {{ conexion.tomcatcontra}}</td>
                      <td> {{ conexion.weburl}}</td>
                      <td> {{ conexion.empresa.nomempresa}}</td>
                      <td>
                        <button type="button" name="button" (click)="modificar(conexion)" class="btn btn-primary">Editar</button>
                      </td>
                      <td>
                        <button type="button" style="background-color: red;" name="button" (click)="eliminar(conexion)" class="btn btn-primary">Borrar</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div style="margin-left: 30px;">
        <app-paginador *ngIf="paginador" [paginador]="paginador" [tipo]="tipo" ></app-paginador>
      </div>
  </div>
</div>
