<div class ="container" style="display: inline-block;">
  <div class = "card" style="display: inline-block;">
      <h3 class="text-center"> Listado de contratos </h3>
      <div class = "card-body">
        <div class="form-group row">
          <div>
            <div class="input-group" style="display: flex;
            align-items: center;
            justify-content: center;"  >
            <div style="width:100px;">
              <select  class="form-select" [(ngModel)]="opcion">
                <option value="ruc"> RUC</option>
                <option value="razonsocial"> Razon Social</option>
              </select>
            </div>

              <div class="form-outline">
                <input id="search-focus" type="text" [(ngModel)]="buscador" placeholder="Buscar" class="form-control" name="buscador" />
              </div>
              <button type="button" role="button" class="btn btn-primary" (click)="Buscar()">
                <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
          <div class="col-sm-6">
            <button class="btn btn-primary" (click)="AbrirPopUp()" role="button"> {{info}} </button>
          </div>
        </div>
          <table class="table table-striped">
              <thead style="text-align: center; ">
                  <th> Codigo de Contrato </th>
                  <th> Codigo de empresa </th>
                  <th> Nombre de la empresa </th>
                  <th> Codigo de sistema </th>
                  <th> Nombre del sistema </th>
                  <th> Codigo de conexion </th>
                  <th> Nombre de la conexion </th>
                  <th> Fecha de inicio </th>
                  <th> Fecha de fin </th>
                  <th> Estado </th>
                  <th> Token </th>
                  <th> Editar </th>
                  <th> Borrar </th>
              </thead>
              <tbody style="text-align: center; ">
                  <tr *ngFor = "let contrato of contratos">
                    <td> {{ contrato.id }}</td>
                    <td> {{ contrato.codempresa }}</td>
                    <td> {{ contrato.empresa.razonsocial }}</td>
                    <td> {{ contrato.codsistema }}</td>
                    <td> {{ contrato.sistema.sistema }}</td>
                    <td> {{ contrato.codconexion }}</td>
                    <td> {{ contrato.conexion.bdservinstancia}}</td>
                    <td> {{ contrato.fechainicontrato|date:'dd/MM/yyyy'}}</td>
                    <td> {{ contrato.fechafincontrato|date:'dd/MM/yyyy' }}</td>
                    <td>
                      <div style="text-align: center;">
                        <input type="checkbox"  [(ngModel)]="contrato.estado" (change)="checkValue(isChecked?true:false,contrato)" name="estado">

                      </div>
                    </td>
                    <td> {{ contrato.token }}</td>
                    <td>
                      <button type="button" name="button" (click)="modificar(contrato)" class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                      <button type="button" style="background-color: red;" name="button" (click)="eliminar(contrato)" class="btn btn-primary">Eliminar</button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div style="display: flex;" >
        <div style="margin-left: 30px;">
          <app-paginador *ngIf="paginador" [paginador]="paginador" [tipo]="tipo" >
          </app-paginador>
        </div>
        <div  style="position:absolute; right:60px; width: 35%;">

          <div style="float: left;">
              <span  >Mostrar registros Inactivos  </span>
              <input type="checkbox" [(ngModel)]="activado"
              (change)="MostrarInactivos($event)" name="MostrarInactivos">
          </div>
           <span  style="float: right;" >Total de registros: {{nroTotal}}</span>

        </div>

      </div>
  </div>
</div>
